
/*
balise{
	display: flex;
	flex-direction: row;
}

#id{
	color: #ecf0f1;
}

.class{
	color: #ecf0f1;
}

*/

.page{
    width: 75%;
}

.PaireCont2Prod{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top:2.5%;
	margin-bottom: 2.5%;

	border-radius: 15px;
	background-color: #95afc0;
}

.ImpaireCont2Prod{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top:2.5%;
	margin-bottom: 2.5%;

	border-radius: 15px;
	background-color: #2f3542;
}

.PaireProduit{
	width: 250px;
	margin: 60px;

	border-radius: 10px;
	background-color: #111;
}

.ImpaireProduit{
	width: 250px;
	margin: 60px;

	border-radius: 10px;
	background-color: #eee;
}