@font-face{
	font-family: Montserrat Bold;
	src:url(../Police/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat;
	src:url(../Police/Montserrat-Medium.ttf);
}
article nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.image{
	height: 17%;
	width: 17%;
	margin: 0.4%
	}

.news{
	display: flex;
	flex-direction: column;
}
.tnews{
	font-family: Montserrat Bold;
	font-size: 250%;
	margin-left: 2%;
}
.texte{
	text-align: justify;
	font-size: 110%;
	margin : 3%;	
	line-height: 2;
}

article:nth-of-type(1) div.tnews a {
	color:#181a19;
}
article:nth-of-type(1) div.tnews a:hover{
	color:#fafffc;
}

article:nth-of-type(2) div.tnews a {
	color:#fafffc;
}
article:nth-of-type(2) div.tnews a:hover{
	color:#181a19;
}

article:nth-of-type(3) div.tnews a {
	color:#181a19;
}
article:nth-of-type(3) div.tnews a:hover{
	color:#fafffc;
}
article:nth-of-type(4) div.tnews a {
	color:#fafffc;
}
article:nth-of-type(4) div.tnews a:hover{
	color:#181a19;
}