@font-face{
	font-family: Montserrat Bold;
	src:url(../Police/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat;
	src:url(../Police/Montserrat-Medium.ttf);
}
header{
	font-family: Montserrat Bold;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.logo{
	height: 90%;
	width : 90%;
}
.titre{
	font-size: 350%;
}
div{
	position: relative;
}
nav{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: 200px 0 0 0;
}
.submenu{
	display: flex;
	flex-direction: column;
	position: relative;
    top: 10px;
    left: 0px;
    display: none;
}
div.entete{
	background-color: #34495e;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
div.texteEntete{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	height: 80%;
}
div.leLogo{
	display: flex;
	align-items: flex-start;
	width: 50%;
	height: 50%;
	justify-content: center;
}
.menu:hover .submenu{
	display: block;
	}
nav>div.navig {
	background-color: #34495e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu{
	display: flex;
	flex-direction: column;
	position: absolute;
}
div div.navig{
	position: absolute;
}
body{
	background-image : url(./accueil.png);
	background-size: cover;
}
footer{
	background-color: #2c3e50;
	display: flex;
	align-items: flex-start;
	font-family: Montserrat;
	justify-content: space-evenly;
}
a{
	text-decoration: none;
	color:#95a5a6;
}
a:hover{
	color: #ecf0f1;
}


