@font-face{
	font-family: Montserrat Bold;
	src:url(../Police/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat;
	src:url(../Police/Montserrat-Medium.ttf);
}
header{
	font-family: Montserrat Bold;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.logo{
	height: auto;
	width : 20%;
}
.titre{
	font-size: 350%
}
body{
	background-image : url(./accueil.png);
	background-size: cover;
}
footer{
	background-color: #2c3e50;
	display: flex;
	align-items: flex-start;
	font-family: Montserrat;
	justify-content: space-evenly;
}
footer a{
	text-decoration: none;
	color:#95a5a6;
}
footer a:hover{
	color: #ecf0f1;
}
nav{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: 200px 0 0 0;
}
nav>div:hover>.submenu{
    display: block;
}
.entete{
	background-color: #34495e;
	display: flex;
	flex-direction: row;
}
nav>div.menu {
	background-color: #34495e;
    display: inline;
    position: relative;
    width: 100px;
}
.submenu{
    position: absolute;
    top: 25px;
    left: 0px;
    display: none;
}

